{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set resourcespace = salt['pillar.get']('resourcespace', {
    'lookup': salt['grains.filter_by'] ({
        'Debian': {
            'webuser': 'www-data',
            'webgroup': 'www-data',
        },
        'RedHat': {
            'webuser': 'httpd',
            'webgroup': 'httpd',
        },
    }, default='Debian'),
    'app': {
        'shared': {
            'config': '/include/config.php',
            'index': '/index.php',
            'filestore': '/var/www/resourcespace/filestore',
            'webroot': '/var/www/resourcespace',
        },
        'app_root': {
            'makedirs': True,
        },
        'source': {
            'source': 'http://www.resourcespace.org/downloads/ResourceSpace_6_2_5428.zip',
            'source_hash': 'md5=c421b8bc011ad765d4196b871279ba1e',
            'archive_format': 'zip',
        },
        'config': {},
    },
    'storage': {
        'mount': {
        },
        'directory': {
        },
    },
},  merge=True) %}

{% do resourcespace.app.config.update({
    'storagedir': resourcespace.app.shared.filestore,
}) %}
