{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set resourcespace = salt['pillar.get']('resourcespace', {
    'lookup': salt['grains.filter_by'] ({
        'Debian': {
            'webuser': 'www-data',
            'webgroup': 'www-data',
            'pkgs': {
                'antiword': 'antiword',
                'exiftool': 'libimage-exiftool-perl',
                'ffmpeg': 'libav-tools',
                'ghostscript': 'ghostscript',
                'imagick': 'graphicsmagick',
                'xpdf': 'xpdf',
                'zip': 'zip',
            },
        },
        'RedHat': {
            'webuser': 'httpd',
            'webgroup': 'httpd',
        },
    }),
    'app': {
        'shared': {
            'config': '/include/config.php',
            'index': '/index.php',
            'filestore': '/var/www/resourcespace/filestore',
            'webroot': '/var/www/resourcespace',
        },
        'app_root': {
            'makedirs': True,
        },
        'source': {
            'source': 'http://www.resourcespace.org/downloads/ResourceSpace_6_2_5428.zip',
            'source_hash': 'md5=c421b8bc011ad765d4196b871279ba1e',
            'archive_format': 'zip',
        },
        'config': {},
    },
    'pkg': {
        'opts': {},
        'installed': [
            'antiword',
            'exiftool',
            'ffmpeg',
            'ghostscript',
            'imagick',
            'xpdf',
            'zip',
        ],
    },
    'storage': {
        'mount': {},
        'directory': {},
    },
    'php': {
        'states': {
            'php': 'php.ng',
            'mcrypt': 'php.ng.mcrypt',
            'imagick': 'php.ng.imagick',
            'mysql': 'php.ng.mysql',
            'gd': 'php.ng.gd',
            'apc': 'php.ng.apc',
            'curl': 'php.ng.curl',
            'fpm': 'php.ng.fpm',
        },
    },
    'nginx': {
        'state': 'nginx.ng'
    },
},  merge=True) %}

{% do resourcespace.app.config.update({
    'storagedir': resourcespace.app.shared.filestore,
}) %}
