{% set resourcespace = salt['pillar.get']('resourcespace', {
    'lookup': salt['grains.filter_by'] ({
        'Debian': {

        },
    }, default='Debian'),
    'app': {
        'source': 'http://www.resourcespace.org/downloads/ResourceSpace_6_2_5428.zip',
        'checksum': 'c421b8bc011ad765d4196b871279ba1e',
        'app_root': '/var/www',
        'test_success': '/include/version.php',
        'conf_file': '/include/config.php',
        'config': {
            'mysql_server': 'localhost',
            'mysql_username': 'root',
            'mysql_password': '',
            'mysql_db': 'resourcespace',
            'mysql_bin_path': '/usr/bin',
            'mysql_force_strict_mode': False,
            'mysql_verbatim_queries': False,
            'baseurl': 'http://my.site/resourcespace',
            'email_from': 'resourcespace@my.site',
            'email_notify': 'resourcespace@my.site',
            'spider_password': 'TBTT6FD',
            'spider_usergroup': 2,
            'spider_access': [0,1],
        },
    },
    'storage': None,
},  merge=True) %}
